.git
.gitignore
.env
.env.*
!.env.example

**/node_modules
**/vendor
**/dist
**/build
**/coverage
**/.vite
**/storage/logs/*
**/storage/framework/cache/data/*
**/storage/framework/sessions/*
**/storage/framework/testing/*

*.log
Dockerfile*
docker-compose*.yml
